html{

    body{
        background-color:  #7a8adb;

        .app-header{
            padding-top: 30px;
            text-align: center;
            display: none;
        }

        #root{

            .final-message{
                opacity: 0;
                animation-name: finalMessage;
                animation-duration: .5s;
                animation-fill-mode: forwards;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @keyframes finalMessage {
                    0% {opacity: 0}
                    100% {opacity: 1}
                }
            }

            .single-question{
                max-width: 500px;
                height: 90vh;
                width: 90vw;
                position: absolute;
                top: 50%; 
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: space-around;
                align-items: center;

                &.single-question--correct{
                    animation-name: correct;
                    animation-duration: 1s;
                    
                    @keyframes correct {
                        0% {left: 50%}
                        100% {left: -100%}
                    }

                }

                &.single-question--incorrect{
                    animation-name: incorrect;
                    animation-duration: 1s;
                    
                    @keyframes incorrect {
                        0% {left: 50%}
                        50% {left: 0}
                        100% {left: 50%; z-index: -1}
                    }
                }

                .single-question__text{
                    width: 100%;

                    h2{
                        color: #020a1b;
                        font-size: 24px;
                    }
                }

                .response{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0;
                    height: 0;
                    z-index: 2;
                    background-color: #53cf92;
                    animation-name: showResponse;
                    animation-duration: .5s;
                    animation-fill-mode: forwards; 
                    display: none;

                    .response__content{
                        width: 100%;
                        height: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        opacity: 0;
                        animation-name: showContent;
                        animation-duration: 1s;
                        animation-delay: .5s;
                        animation-fill-mode: forwards; 

                        @keyframes showContent {
                            0% {opacity: 0}
                            100% {opacity: 1}
                        }

                        h2{
                            width: 100%;
                            text-align: center;
                            margin-bottom: 20px;
                            font-size: 40px;
                        }


                    }

    
                    @keyframes showResponse {
                        0% {width: 0; height: 0}
                        100% {width: 100%; height: 100%}
                    }

                    @keyframes hideResponse {
                        0% {width: 100%; height: 100%}
                        100% {width: 0; height: 0}
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px){

    html{

        body{

            .app-header{
                display: block;
            }

            #root{
    
                .single-question{
                    width: 80vh;
                    height: 60vh;
                }
            }
        }
    }
}